<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>About</title>
    </head>
    <body>
            
  <card class="main">
  <card class="item">
  <p>
  Here goes @article:.</br>
  {{ @articleText }}
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>
  </card>

  </card>

    </body>
</html>
