    <header>
      <nav class="hamburger">
        <a href="" class="logo">dicks and shit</a>
        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="{{ 'about' | alias }}">About</a></li>
          <li><a href="{{ 'review' | alias }}">Reviews</a></li>
          <check if="{{ @SESSION.username }}">
          <true>
          <li><a href="{{ 'addReview' | alias }}">Add Review</a></li>
          <li><a href="{{ 'logout' | alias }}">Log Out</a></li>
          </true>
          <false>
          <li><a href="{{ 'register' | alias }}">Get Started</a></li>
          <li><a href="{{ 'login' | alias }}">Log In</a></li>
          </false>
          </check>
        </ul>
        </menu>
    </header>
