    <header>
      <nav class="hamburger">
        <a href="" class="logo">dicks and shit</a>
        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="{{ @testpage }}">Test Page</a></li>
          <li><a href="Sign Up">Get Started</a></li>
          <li><a href="Log In">Log In</a></li>
        </ul>
        </menu>
    </header>
