<container class="carousel">
  <card class="main home">
    <card class="item form">
      <form action="/registerSubmit" method="post" accept-charset="utf-8">
        <label for="username">username</label><input type="text" name="username" value="" id="username"></br>
        <label for="email">email</label><input type="text" name="email" value="" id="email"></br>
        <label for="re-enter_email">re-enter email</label><input type="text" name="confirm_email" value="" id="confirm_email"></br>
        <label for="password">password</label><input type="text" name="password" value="" id="password"></br>
        <label for="re-enter_password">re-enter password</label><input type="text" name="confirm_password" value="" id="confirm_password"></br>
        <p>
        <input type="submit" value="Register Account" name="submit" id="submit"/>
        </p>
      </form>
    </card>
  <check if="{{ isset(@errorMessage) }}">
    <card class="item">
      <p style="color:DarkRed; font-size:2em">
      <true>{{ @errorMessage | raw }}</true>
      </p>
    </card>
  </check>
</card>
</container>
